@import "bootstrap"

.brand
  font-family: "Montserrat Subrayada", sans-serif

#loading
  margin-top: 20px

.progress .full-width
  width: 100%

.centered
  text-align: center

.spaced
  margin-top: 10px
  margin-bottom: 20px

.double-spaced
  margin-top: 20px
  margin-bottom: 40px

#grid
  border-collapse: collapse
  border-spacing: 0
  margin: 0 auto

#grid td
  border: 1px solid black
  height: 60px
  width: 60px

.flip
  -moz-transform: scaleX(-1)
  -webkit-transform: scaleX(-1)
  -o-transform: scaleX(-1)
  transform: scaleX(-1)

.hand
  background: url("/images/hand.gif") no-repeat
  cursor: pointer
  height: 61px
  width: 61px
  &:active
    background-position: right top

.r
  background-color: #df004f

.g
  background-color: #74e600

.b
  background-color: #0b5fa5

.o
  background-color: #ff9400
