%h1 Pushing Hands

.container
  #hands-left.hands
    .div
    .div
    .div
    .div
    .div
    .div
    .div
    .div
    .div
    .div
  %table#grid
  #hands-right.hands.flip
    .div
    .div
    .div
    .div
    .div
    .div
    .div
    .div
    .div
    .div
