.navbar.navbar-static-top
  .navbar-inner
    %a.brand{ href: "/" } Pushing Hands
    %ul.nav
      %li
        %a#rules{ href: "#" } Rules
    %ul.nav.pull-right
      %li
        %p.navbar-text
          A game by
          %a{ href: "http://jimmycuadra.com/", target: "_blank" } Jimmy Cuadra
      %li.divider-vertical
      %li
        %p.navbar-text
          %a{ href: "https://github.com/jimmycuadra/pushing-hands", target: "_blank" } Source on GitHub


#loading.progress.progress-striped.active
  .bar.full-width Loading…

.row-fluid.double-spaced
  %table#grid.span7.double-spaced
  #hud.span5

%audio#relaxing
  %source{ src: "/audio/relaxing.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/relaxing.mp3", type: "audio/mpeg; codecs='mp3'" }
%audio#tense
  %source{ src: "/audio/tense.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/tense.mp3", type: "audio/mpeg; codecs='mp3'" }
%audio#push
  %source{ src: "/audio/sfx_push.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/sfx_push.mp3", type: "audio/mpeg; codecs='mp3'" }
%audio#match
  %source{ src: "/audio/sfx_match.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/sfx_match.mp3", type: "audio/mpeg; codecs='mp3'" }
%audio#fill
  %source{ src: "/audio/sfx_fill.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/sfx_fill.mp3", type: "audio/mpeg; codecs='mp3'" }
