%h1 Pushing Hands

%table#grid

#hud

%audio#relaxing
  %source{ src: "/audio/relaxing.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/relaxing.mp3", type: "audio/mpeg; codecs='mp3'" }
%audio#tense
  %source{ src: "/audio/tense.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/tense.mp3", type: "audio/mpeg; codecs='mp3'" }
%audio#push
  %source{ src: "/audio/sfx_push.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/sfx_push.mp3", type: "audio/mpeg; codecs='mp3'" }
%audio#match
  %source{ src: "/audio/sfx_match.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/sfx_match.mp3", type: "audio/mpeg; codecs='mp3'" }
%audio#fill
  %source{ src: "/audio/sfx_fill.ogg", type: "audio/ogg; codecs='vorbis'" }
  %source{ src: "/audio/sfx_fill.mp3", type: "audio/mpeg; codecs='mp3'" }
